.answer:hover{
  background: #1E356B;
  color: #F4EFD6;
  cursor: pointer;
  ;
}
body{
  background: #1E356B;
}
#Card{
  background: #F4EFD6;
}
#Conatiner{
  width: 50rem;
}

#AllButton{
  background: #1E356B;
}